@import "tailwindcss";

:root {
  color-scheme: light dark;
  @apply antialiased bg-background text-foreground selection:bg-selection-background;
}

@layer utilities {
  * {
    /* This shatters my world view, but it makes the images not overflow their
    flex container, and it probably good in general.
    https://www.youtube.com/watch?v=cH8VbLM1958 */
    @apply min-w-0 break-words;
  }
}

@theme inline {
  --color-background: light-dark(var(--color-zinc-100), var(--color-zinc-900));

  --color-foreground: light-dark(var(--color-zinc-900), var(--color-zinc-100));

  --color-selection-background: light-dark(
    var(--color-green-300),
    var(--color-green-900)
  );

  --color-muted: light-dark(var(--color-zinc-100), var(--color-zinc-800));
  --color-muted-foreground: light-dark(
    var(--color-zinc-500),
    var(--color-zinc-400)
  );

  --color-recycling: light-dark(var(--color-blue-600), var(--color-blue-500));
  --color-trash: light-dark(var(--color-green-600), var(--color-green-500));

  --color-destructive: light-dark(var(--color-red-600), var(--color-red-500));
}
