@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:focus-visible {
		@apply focus-visible:outline-dotted
        focus-visible:outline-2
        focus-visible:outline-gray-900
        focus-visible:outline-offset-2;
	}

	.link {
		@apply underline;
	}
}
